<div class="panel panel-primary">
    <div class="panel-heading">
        <span>Add B64 Certificate : {{label}}</span>
        <span class="fa fa-check cursor-pointer" ng-click="ok()" style="margin-left: 5px; float: right"></span>
        <span class="fa fa-times cursor-pointer" ng-click="cancel()" style="margin-left: 5px; float: right"></span>
    </div>
    <div class="panel-body">
        <label style="display: block; text-decoration: underline;" th:text="#{digitalIdentification.certB64}"></label>
        <textarea class="form-control" rows="15" ng-model="b64" style="resize: none"></textarea>
    </div>
</div>