<div class="panel panel-primary">
    <div class="panel-heading">
        <check disabled="myTLInfo.checkToRun" id="myTLInfo.schemeInformation.id+'_'+myTLInfo.tag" listcheck="myTLInfo.listChecks" label="myTLInfo.label" istreeparent="true"></check>
        <change id="myTLInfo.schemeInformation.id+'_'+myTLInfo.tag" listdiff="myTLInfo.listdiff" label="myTLInfo.label" istreeparent="true" information="information"></change>
        <span style="display: inline-block;">{{myTLInfo.dbName}} ({{myTLInfo.schemeInformation.sequenceNumber}}) - {{myTLInfo.label}}</span>
        <span ng-if="required==true" class="requiredIcon" tooltip="{{tRequiredInStandard}}" tooltip-placement="right">(*)</span>

        <span style="float: right;" class="fa fa-check cursor-pointer" ng-click="ok()"></span>
        <span style="float: right; margin-right: 5px;" class="fa fa-times cursor-pointer" ng-click="cancel()"></span>
    </div>
    <div class="panel-body">
        <div class="row dropdown" style="float: right;">
            <span class="fa fa-plus-circle dropdown-toggle cursor-pointer " tooltip-placement="bottom" tooltip="Add" style="color: #337ab7;" type="button" data-toggle="dropdown"></span>
            <ul class="dropdown-menu">
                <li ng-repeat="lang in languages" class="lang-list"><a ng-click="addTab(lang.label);activeTab(myTabs.length-1)" class="cursor-pointer ">{{lang.label}}</a></li>
            </ul>
        </div>
        <!-- Table -->
        <tabset>
            <tab ng-repeat="tab in myTabs" ng-attr-id="{{ 'tab-' + $index }}" name="tab" class="tabable" active="tab.isActive">
                <tab-heading>
                    <check disabled="myTLInfo.checkToRun" id="tab.id" listcheck="myTLInfo.listChecks" label="myTLInfo.label" istreeparent="false"></check>
                    <change id="tab.id" listdiff="myTLInfo.listdiff" label="myTLInfo.label" istreeparent="false" information="information"></change>
                    <span style="margin-left: 5px;">{{tab.language}}</span> 
                </tab-heading>
                <textarea style="width: 100%; height: 200px; resize: none; border: none;" ng-model="tab.value" name="{{tab.id}}" required></textarea> 
                <!-- Validator & Delete -->
                <div class="row">
                    <div style="display:inline" ng-if="sortable">
                        <span class="fa fa-arrow-circle-o-left cursor-pointer" ng-class="$first ? 'disabled-icon fa fa-arrow-circle-o-left cursor-pointer' : 'fa fa-arrow-circle-o-left cursor-pointer'" tooltip="Move before" ng-click="move($index,$index-1)"></span>
                        <span class="fa fa-arrow-circle-o-right cursor-pointer" ng-class="$last ? 'disabled-icon fa fa-arrow-circle-o-right cursor-pointer' : 'fa fa-arrow-circle-o-right cursor-pointer'" tooltip="Move after" ng-click="move($index,$index+1)"></span>
                    </div>
                    <div align="right" style="display: inline; float: right">
                        <span th:text="#{tDelete}"></span>
                        <span>{{tab.language}}</span>
                        <span th:text="#{tLanguage}" style="margin-right: 5px;"></span>
                        <span ng-confirm="{{confirm_delete | replaceIn:'%OBJ%':(tab.language+' '+myTLInfo.label)}}" confirmed="deleteTab(tab)" class="fa fa-trash cursor-pointer "
                            style="margin-right: 10px;"></span>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>