<div class="panel panel-primary">
	<div class="panel-heading">
		<span>{{myTLInfo.dbName}} ({{myTLInfo.sequenceNumber}})</span>
		<span style="float: right;" class="fa fa-times cursor-pointer" ng-click="cancel()"></span>
	</div>
	<div class="panel-body">
		<div class="row" align="center">
			<label style="margin-top: 15px;" th:text="#{tsignatureProcess}"></label>
			<span>{{signatureProccessStatus}}</span>
		</div>
		<div class="row">
			<div th:replace="spinner :: spinner" th:remove="tag"></div>
		</div>
	</div>
</div>

