<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="digitTslWeb" ng-controller="appController" ng-init="initMenu();">
<head>
<link rel="icon" th:href="@{/style/favico.ico}" />
<div th:replace="head_fragment :: head_fragment"></div>

<script th:src="@{/controllers/dataRetentionController.js}"></script>

</head>
<style>
.a-link:hover {
    color: #33CC33;
}
</style>
<body>
    <!-- Header -->
    <div th:replace="header :: header" th:remove="tag"></div>

    <div class="body" ng-controller="dataRetentionController">

        <!-- Menu -->
        <div th:replace="menu :: nav" th:remove="tag"></div>

        <!-- MAIN CONTENT -->
        <main ng-if="load==false">
        <div align="center">
            <label>{{loadingRetention}}</label>
        </div>
        <div th:replace="spinner :: spinner"></div>
        </main>
        <main id="content" ng-show="load==true"> <!-- Filter -->
        <div class="panel panel-primary" style="margin-bottom: 5px;">
            <div class="panel-heading" style="max-height: 35px" ng-init="searchOpen=true">
                <span class="cursor-pointer" data-toggle="collapse" data-target="#search" ng-click="searchOpen=!searchOpen">
                    <span th:text="#{tSearchCriteria}"></span>

                    <span ng-show="searchOpen" class="fa fa-chevron-circle-down" tooltip="{{tHide}}" tooltip-placement="bottom" style="float: right;"></span>
                    <span ng-show="!searchOpen" class="fa fa-chevron-circle-up" tooltip="{{tShow}}" tooltip-placement="bottom" style="float: right;"></span>
                </span>
            </div>
            <div id="search" class="collapse in">
                <div class="row" style="padding: 5px; margin-top: 5px;">
                    <div style="margin-left: 15px; width: 230px; display: inline-block;">
                        <span th:text="#{tTarget}"></span>
                        <select ng-model="retentionCriteria.target">
                            <option value="DRAFTSTORE">Draftstore</option>
                            <option value="DRAFT">Draft TL</option>
                        </select>
                    </div>
                    <div style="width: 250px; display: inline-block;" ng-if="retentionCriteria.target!='DRAFTSTORE'">
                        <span th:text="#{tbCountry}"></span>
                        <select ng-model="retentionCriteria.territoryCode" style="height: 30px !important">
                            <option selected="true" value="">ALL</option>
                            <option ng-repeat="t in countryCodeNameProperties" ng-value="t.label" ng-selected="t.label==retentionCriteria.territoryCode">{{t.description}}</option>
                        </select>
                    </div>
                    <div style="width: 400px; display: inline-block;">
                        <span th:text="#{tLastAccess.before}"></span>
                        <div style="display: inline">
                            <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="retentionCriteria.date" is-open="opened" datepicker-options="dateOptions"
                                date-disabled="disabled(date, mode)" close-text="Close" />
                            <button type="button" class="btn btn-default" ng-click="open($event)" style="height: 26px; padding: 0px 12px !important;">
                                <span class="fa fa-calendar"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 5px;">
                    <button class="btn btn-primary" ng-click="getData()" th:text="#{tSearch}" style="float: right; margin-right: 10px;"></button>
                    <button class="btn btn-default" ng-click="resetSearch()" th:text="#{tReset}" style="float: right; margin-right: 15px;"></button>
                </div>
            </div>
        </div>
        <!-- Table -->
        <div class="panel panel-primary">
            <div class="panel-heading" style="max-height: 35px">
                <span th:text="#{retention.data}"></span>
            </div>
            <div class="border-tlm">
                <div ng-if="tableOptions.listObj.length==0">
                    <span class="col-lg-6" th:text="#{tNoData}" style="margin-top: 10px;"></span>
                </div>
                <paginator options="tableOptions" ng-if="tableOptions.listObj.length>0"></paginator>
            </div>
        </div>
        </main>
    </div>
    <!-- Footer -->
    <div th:replace="footer :: footer" th:remove="tag"></div>
</body>
</html>