<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="digitTslWeb" ng-controller="appController" ng-init="initMenu()">
<head>
<link rel="icon" th:href="@{/style/favico.ico}" />
<div th:replace="head_fragment :: head_fragment"></div>

</head>
<body>
    <!-- Header -->
    <div th:replace="header :: header" th:remove="tag"></div>

    <div class="body">
        <!-- Menu -->
        <div th:replace="menu :: nav" th:remove="tag"></div>

        <main>
        <div class="alert alert-danger alert-dismissible" style="margin-top: 15px;">
            <div>
                <strong th:text="#{error.view.information}"></strong>
            </div>
        </div>
        </main>
    </div>
</body>
</html>