<footer th:fragment="footer">
    <div class="footerMessage">
        <ul id="services">
            <div style="display: inline-block; float: left;">
                <label th:text="#{footer.name}"></label> (
                <span th:text="#{application.version}"></span>
                )
                <span th:text="#{footer.based}"></span>
                <span>(</span><a class="first" th:text="#{cefEsig}" href="https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/eSignature"></a><span> )</span>
                <span> - </span>
                <span th:text="#{footer.lastUpdate}"></span>
                <!--                 : -->
                <span th:text="#{build.time}"></span>
            </div>

            <div style="display: inline-block; float: right;">
                <li class="first"><a ng-click="goToTop()" th:text="#{footer.toTop}" class="service cursor-pointer"></a></li>
            </div>
        </ul>
    </div>
</footer>