<div th:fragment="service" class="row">
    <div ng-repeat="service in serviceProvider.tspservices" ng-if="serviceProvider.show=='1' && service.filter!=true" ng-init="service.index = $index" style="margin-left: 5px;">
        <div style="margin-left: 15px;" ng-class="isOpen(service.show)">
            <div class="openClose">
                <span ng-if="service.show!='1'" class="fa fa-caret-right closeTabIcon cursor-pointer" ng-click="service.show='1'"></span>
                <span ng-if="service.show=='1'" class="fa fa-caret-down openTabIcon cursor-pointer white" ng-click="service.show='0'"></span>
            </div>
            <div class="divCheckChange">
                <check disabled="myTl.checkToRun"  id="service.id" listcheck="listChecks" label="service.serviceName[0].value" istreeparent="true"></check>
                <change id="service.id" listdiff="listDiffProviders" label="service.serviceName[0].value" istreeparent="true" information="information"></change>
            </div>
            <span>{{service.serviceName[0].value | cut:true:55:'...'}}</span>
            <div ng-bind-html="serviceNode(service)" style="display: inline;" ng-if="service.show!='1'"></div>
            <span ng-if="myTl.userEditable && serviceProvider.edit==false" ng-click="editTlDraft('editService',[serviceProvider.index,service.index])" class="fa fa-edit cursor-pointer editIcon"
                tooltip="{{service.editTooltip}}" ng-init="service.editTooltip=EditTooltip(service.serviceName[0].value)" tooltip-placement="right"></span>
            <span ng-confirm="{{confirm_delete | replaceIn:'%OBJ%':service.serviceName[0].value}}" confirmed="deleteService(service,[serviceProvider.index,null,null]);"
                ng-show="serviceProvider.edit==true" style="margin-right: 10px" class="fa fa-trash cursor-pointer" tooltip="Delete {{ service.serviceName[0].value | cut:true:110:'...' }}"
                tooltip-placement="right"></span>
        </div>
        <div ng-if="service.show=='1'" style="margin-left: 15px;" class="isOpenBorder">
            <!-- Service Information -->
            <div class="container-fluid isOpenTopBorder">
                <!-- Type Identifier -->
                <div class="row">
                    <div class="col-sm-2 scheme-information text-right">
                        <div class="divCheckChange">
                            <check disabled="myTl.checkToRun"  id="service.id+'_'+TAG_SERVICE_TYPE_IDENTIFIER" listcheck="listChecks" label="serviceProvider_serviceInformation_type" istreeparent="false"></check>
                            <change id="service.id+'_'+TAG_SERVICE_TYPE_IDENTIFIER" listdiff="listDiffProviders" label="serviceProvider_serviceInformation_type" istreeparent="false" information="information"></change>
                        </div>
                        <span th:text="#{serviceProvider.serviceInformation.type}"></span>
                    </div>
                    <div class="col-sm-9">
                        <uri value="service.typeIdentifier"></uri>
                    </div>
                </div>
                <!-- Service Name -->
                <div class="row" ng-hide="tableVisibility(service.serviceName)">
                    <div class="col-sm-2 scheme-information text-right">
                        <div class="divCheckChange">
                            <check disabled="myTl.checkToRun"  id="service.id+'_'+TAG_SERVICE_NAME" listcheck="listChecks" label="serviceProvider_serviceName" istreeparent="true"></check>
                            <change id="service.id+'_'+TAG_SERVICE_NAME" listdiff="listDiffProviders" label="serviceProvider_serviceName" istreeparent="true" information="information"></change>
                        </div>
                        <span th:text="#{serviceProvider.serviceName}"></span>
                    </div>
                    <div class="col-sm-10" ng-init="service.serviceNameShow='0'">
                        <div ng-hide="iconTableVisibility(service.serviceName)" class="openClose">
                            <span ng-if="service.serviceNameShow!='1'" class="fa fa-caret-right closeTabIcon cursor-pointer" ng-click="service.serviceNameShow='1'"></span>
                            <span ng-if="service.serviceNameShow=='1'" class="fa fa-caret-down openTabIcon cursor-pointer" ng-click="service.serviceNameShow='0'"></span>
                        </div>
                        <div ng-if="service.serviceNameShow=='0'" class="tabInformationClose">
                            <span>{{service.serviceName[0].value}}</span>
                        </div>
                        <div ng-if="service.serviceNameShow=='1'" class="tabInformationOpen">
                            <tabset> <tab ng-repeat="info in service.serviceName"> <tab-heading> <check disabled="myTl.checkToRun"  id="info.id" listcheck="listChecks"
                                label="serviceProvider_serviceName" istreeparent="false"></check> <change id="info.id" listdiff="listDiffProviders" label="serviceProvider_serviceName"
                                istreeparent="false" information="information"></change> <span>{{info.language}}</span> </tab-heading> <span style="margin-top: 3px;">{{info.value}}</span> </tab> </tabset>
                        </div>
                    </div>
                </div>
                <!-- Current Status -->
                <div class="row">
                    <div class="col-sm-2 scheme-information text-right">
                        <div class="divCheckChange">
                            <check disabled="myTl.checkToRun"  id="service.id+'_'+TAG_SERVICE_STATUS" listcheck="listChecks" label="serviceProvider_serviceInformation_currentState" istreeparent="false"></check>
                            <change id="service.id+'_'+TAG_SERVICE_STATUS" listdiff="listDiffProviders" label="serviceProvider_serviceInformation_currentState" istreeparent="false" information="information"></change>
                        </div>
                        <span th:text="#{serviceProvider.serviceInformation.currentState}"></span>
                    </div>
                    <div class="col-sm-9">
                        <uri value="service.currentStatus"></uri>
                    </div>
                </div>
                <!-- Status Starting Date -->
                <div class="row">
                    <div class="col-sm-2 scheme-information text-right">
                        <div class="divCheckChange">
                            <check disabled="myTl.checkToRun"  id="service.id+'_'+TAG_SERVICE_STATUS_STARTING_TIME" listcheck="listChecks" label="serviceProvider_serviceInformation_stateDate" istreeparent="false"></check>
                            <change id="service.id+'_'+TAG_SERVICE_STATUS_STARTING_TIME" listdiff="listDiffProviders" label="serviceProvider_serviceInformation_stateDate" istreeparent="false" information="information"></change>
                        </div>
                        <span th:text="#{serviceProvider.serviceInformation.stateDate}"></span>
                    </div>
                    <div class="col-sm-9">
                        <span>{{service.currentStatusStartingDate | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    </div>
                </div>
                <!-- Scheme Definition URI -->
                <div class="row" ng-hide="tableVisibility(service.schemeDefinitionUri)">
                    <div class="col-sm-2 scheme-information text-right">
                        <div class="divCheckChange">
                            <check disabled="myTl.checkToRun"  id="service.id+'_'+TAG_SCHEME_SERVICE_DEFINITION_URI" listcheck="listChecks" label="serviceProvider_schemeDef" istreeparent="true"></check>
                            <change id="service.id+'_'+TAG_SCHEME_SERVICE_DEFINITION_URI" listdiff="listDiffProviders" label="serviceProvider_schemeDef" istreeparent="true" information="information"></change>
                        </div>
                        <span th:text="#{serviceProvider.schemeDef}"></span>
                    </div>
                    <div class="col-sm-10" ng-init="service.schemeDefinitionURIShow='0'">
                        <div ng-hide="iconTableVisibility(service.schemeDefinitionUri)" class="openClose">
                            <span ng-click="service.schemeDefinitionURIShow='1'" ng-if="service.schemeDefinitionURIShow!='1'" class="fa fa-caret-right closeTabIcon cursor-pointer"></span>
                            <span ng-click="service.schemeDefinitionURIShow='0'" ng-if="service.schemeDefinitionURIShow=='1'" class="fa fa-caret-down openTabIcon cursor-pointer"></span>
                        </div>
                        <div ng-if="service.schemeDefinitionURIShow=='0'" class="tabInformationClose">
                            <uri value="service.schemeDefinitionUri[0].value"></uri>
                        </div>
                        <div ng-if="service.schemeDefinitionURIShow=='1'" class="tabInformationOpen">
                            <tabset> <tab ng-repeat="info in service.schemeDefinitionUri"> <tab-heading> <check disabled="myTl.checkToRun"  id="info.id" listcheck="listChecks"
                                label="serviceProvider_schemeDef" istreeparent="false"></check> <change id="info.id" listdiff="listDiffProviders" label="serviceProvider_schemeDef" istreeparent="false" information="information"></change>
                            <span style="margin-left: 5px;">{{info.language}}</span> </tab-heading> <uri value="info.value"></uri> </tab> </tabset>
                        </div>
                    </div>
                </div>
                <!-- Service Supply Point -->
                <div class="row" ng-hide="tableVisibility(service.supplyPoint)">
                    <div class="col-sm-2 scheme-information text-right">
                        <div class="divCheckChange">
                            <check disabled="myTl.checkToRun"  id="service.id+'_'+TAG_SERVICE_SUPPLY_POINT" listcheck="listChecks" label="serviceProvider_serviceSupply" istreeparent="true"></check>
                            <change id="service.id+'_'+TAG_SERVICE_SUPPLY_POINT" listdiff="listDiffProviders" label="serviceProvider_serviceSupply" istreeparent="true" information="information"></change>
                        </div>
                        <span th:text="#{serviceProvider.serviceSupply}"></span>
                    </div>
                    <div class="col-sm-10" ng-init="service.supplyPointShow='0'">
                        <div ng-repeat="info in service.supplyPoint" style="display: block;">
                            <check disabled="myTl.checkToRun"  id="info.id" listcheck="listChecks" label="serviceProvider_serviceSupply" istreeparent="false"></check>
                            <change id="info.id" listdiff="listDiffProviders" label="serviceProvider_serviceSupply" istreeparent="false" information="information"></change>
                            <uri value="info.value" style="margin-top: 3px;"></uri>
                        </div>
                    </div>
                </div>
                <!-- TSP Definition URI -->
                <div class="row" ng-hide="tableVisibility(service.tspdefinitionUri)">
                    <div class="col-sm-2 scheme-information text-right">
                        <div class="divCheckChange">
                            <check disabled="myTl.checkToRun"  id="service.id+'_'+TAG_TSP_SERVICE_DEFINITION_URI" listcheck="listChecks" label="serviceProvider_tspSchemeDef" istreeparent="true"></check>
                            <change id="service.id+'_'+TAG_TSP_SERVICE_DEFINITION_URI" listdiff="listDiffProviders" label="serviceProvider_tspSchemeDef" istreeparent="true" information="information"></change>
                        </div>
                        <span th:text="#{serviceProvider.tspSchemeDef}"></span>
                    </div>
                    <div class="col-sm-10" ng-init="service.serviceDefinitionURIShow='0'">
                        <div ng-hide="iconTableVisibility(service.tspdefinitionUri)" class="openClose">
                            <span ng-if="service.serviceDefinitionURIShow!='1'" class="fa fa-caret-right closeTabIcon cursor-pointer" ng-click="service.serviceDefinitionURIShow='1'"></span>
                            <span ng-if="service.serviceDefinitionURIShow=='1'" class="fa fa-caret-down openTabIcon cursor-pointer" ng-click="service.serviceDefinitionURIShow='0'"></span>
                        </div>
                        <div ng-if="service.serviceDefinitionURIShow=='0'" class="tabInformationClose">
                            <uri value="service.tspdefinitionUri[0].value" style="margin-top: 3px;"></uri>
                        </div>
                        <div ng-if="service.serviceDefinitionURIShow=='1'" class="tabInformationOpen">
                            <tabset> <tab ng-repeat="info in service.tspdefinitionUri"> <tab-heading> <check disabled="myTl.checkToRun"  id="info.id" listcheck="listChecks"
                                label="serviceProvider_tspSchemeDef" istreeparent="false"></check> <change id="info.id" listdiff="listDiffProviders" label="serviceProvider_tspSchemeDef"
                                istreeparent="false" information="information"></change> <span style="margin-left: 5px;">{{info.language}}</span> </tab-heading> <uri value="info.value" style="margin-top: 3px;"></uri> </tab> </tabset>
                        </div>
                    </div>
                </div>
                <!-- Extension -->
                <div class="row" ng-hide="tableVisibility(service.extension)">
                    <div class="col-sm-2 scheme-information text-right">
                        <div class="divCheckChange">
                            <check disabled="myTl.checkToRun"  id="service.id+'_'+TAG_SERVICE_EXTENSION" listcheck="listChecks" label="serviceProvider_extension" istreeparent="true"></check>
                            <change id="service.id+'_'+TAG_SERVICE_EXTENSION" listdiff="listDiffProviders" label="serviceProvider_extension" istreeparent="true" information="information"></change>
                        </div>
                        <span th:text="#{serviceProvider.extension}" style="margin-left: 2px;"></span>
                    </div>
                    <div class="col-sm-10" ng-if="service.extension[0]!=null" style="padding-right: 0">
                        <extensiondir extension="service.extension[0]" listcheck="listChecks" listchange="listDiffProviders" tl="myTl"></extensiondir>
                    </div>
                    <div class="row" ng-repeat="extension in service.extension" ng-hide="$first">
                        <div class="col-sm-2"></div>
                        <div style="display: inline-block; padding-right: 0" class="col-sm-10">
                            <extensiondir extension="extension" listcheck="listChecks" listchange="listDiffProviders" tl="myTl"></extensiondir>
                        </div>
                    </div>
                </div>
                <!-- Digital Identity -->
                <div class="row" ng-hide="tableVisibility(service.digitalIdentification)">
                    <div class="col-sm-2 scheme-information text-right">
                        <div class="divCheckChange">
                            <check disabled="myTl.checkToRun"  id="service.id+'_'+TAG_SERVICE_DIGITAL_IDENTITY" listcheck="listChecks" label="serviceProvider_digitalIdentities" istreeparent="true"></check>
                            <change id="service.id+'_'+TAG_SERVICE_DIGITAL_IDENTITY" listdiff="listDiffProviders" label="serviceProvider_digitalIdentities" istreeparent="true" information="information"></change>
                        </div>
                        <span th:text="#{serviceProvider.digitalIdentities}" style="margin-left: 2px;"></span>
                    </div>
                    <div class="col-sm-10" style="padding-right: 0">
                        <digitalidentity digital="service.digitalIdentification[0]" listcheck="listChecks" listchange="listDiffProviders" tl="myTl" checktorun="myTl.checkToRun"></digitalidentity>
                    </div>
                </div>
                <!-- History -->
                <div th:replace="history :: history" th:remove="tag"></div>
            </div>
        </div>
    </div>
</div>