<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="digitTslWeb" ng-controller="appController" ng-init="initMenu()">
<head>
<link rel="icon" th:href="@{/style/favico.ico}" />
<div th:replace="head_fragment :: head_fragment"></div>

<script th:src="@{/controllers/systemController.js}"></script>

<style>
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
</style>
</head>

<body>
    <!-- Header -->
    <div th:replace="header :: header" th:remove="tag"></div>

    <div class="body" ng-controller="systemController">

        <!-- Menu -->
        <div th:replace="menu :: nav" th:remove="tag"></div>

        <!-- MAIN CONTENT -->
        <main id="content" class="panel panel-primary" style="border-style: none;">
        <div class="panel-heading" style="max-height: 35px">
            <span th:text="#{propertie.system}"></span>
        </div>
        <!-- Jobs -->
        <table class="table table-condensed">
            <thead text-align="right">
                <tr>
                    <th th:text="#{jobs.name}" style="width: 25%;"></th>
                    <th th:text="#{jobs.description}" style="width: 65%;"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Rules -->
                <tr>
                    <td th:text="#{jobs.rules}"></td>
                    <td th:text="#{jobs.rules.description}"></td>
                    <td>
                        <button ng-confirm="{{confirm_runJob_rules}}" confirmed="callRules()" class="btn btn-primary" th:text="#{tRun}"></button>
                    </td>
                </tr>
                <!-- Signature -->
                <tr>
                    <td th:text="#{jobs.signature}"></td>
                    <td th:text="#{jobs.signature.description}"></td>
                    <td>
                        <button ng-confirm="{{confirm_runJob_signature}}" confirmed="callSignature()" class="btn btn-primary" th:text="#{tRun}"></button>
                    </td>
                </tr>
                <!-- Retention Policy -->
                <tr>
                    <td th:text="#{jobs.retention}"></td>
                    <td th:text="#{jobs.retention.description}"></td>
                    <td>
                        <button ng-confirm="{{confirm_runJob_retention}}" confirmed="callRetention()" class="btn btn-primary" th:text="#{tRun}"></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr />

        <!-- Cache -->
        <table class="table table-condensed">
            <thead text-align="right">
                <tr>
                    <th th:text="#{cache.name}" style="width: 90%;"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Loading -->
                <tr>
                    <td th:text="#{cache.countries}"></td>
                    <td>
                        <button ng-confirm="{{confirm_cleanCache_countries}}" confirmed="cacheCountries()" class="btn btn-primary" th:text="#{tClean}"></button>
                    </td>
                </tr>
                <!-- Rules -->
                <tr>
                    <td th:text="#{cache.properties}"></td>
                    <td>
                        <button ng-confirm="{{confirm_cleanCache_properties}}" confirmed="cacheProperties()" class="btn btn-primary" th:text="#{tClean}"></button>
                    </td>
                </tr>
                <!-- Checks -->
                <tr>
                    <td th:text="#{cache.checks}"></td>
                    <td>
                        <button ng-confirm="{{confirm_cleanCache_checks}}" confirmed="cacheChecks()" class="btn btn-primary" th:text="#{tClean}"></button>
                    </td>
                </tr>
            </tbody>
        </table>



        </main>
    </div>
    <!-- Footer -->
    <div th:replace="footer :: footer" th:remove="tag"></div>
</body>
</html>