<!-- Override open border in modal -->
<style>
.isOpenBorder {
    border-left-style: none !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <div style="display: inline-block; width: 96% !important">
            <check disabled="history.checkToRun" id="history.id" listcheck="listChecks" label="serviceProvider_history" istreeparent="true"></check>
            <change id="history.id" listdiff="listDiff" label="serviceProvider_history" istreeparent="true"information="information"></change>
            <span>{{history.head}}</span>
            <span ng-show="form.$invalid" class="requiredIcon" tooltip="{{tRequiredInStandard}}" tooltip-placement="right">(*)</span>
        </div>
        <div style="display: inline">
            <span class="fa fa-times cursor-pointer" ng-click="cancel()"></span>
            <span ng-click="ok()" style="margin-left: 5px;" class="fa fa-check cursor-pointer"></span>
        </div>
    </div>
    <div class="panel-body">
        <!-- Type Identifier -->
        <div class="row">
            <div class="col-sm-2 text-right">
                <div class="divCheckChange">
                    <check disabled="history.checkToRun" id="history.id+'_'+TAG_SERVICE_TYPE_IDENTIFIER" listcheck="listChecks" label="serviceProvider_serviceInformation_type" istreeparent="false"></check>
                    <change id="history.id+'_'+TAG_SERVICE_TYPE_IDENTIFIER" listdiff="listDiffProviders" label="serviceProvider_serviceInformation_type" istreeparent="false"information="information"></change>
                </div>
                <span th:text="#{serviceProvider.serviceInformation.type}"></span>
            </div>
            <div class="col-sm-10 remove-padding">
                <select ng-model="history.typeIdentifierBis" required name="type" style="width: 94%;" ng-change="changeTypeIdentifier()">
                    <option ng-repeat="serviceType in serviceTypeIdentifiers">{{serviceType.label}}</option>
                </select>
                <span class="requiredIcon" tooltip="{{tRequiredInStandard}}" tooltip-placement="right">(*)</span>
            </div>
        </div>
        <!-- Current State -->
        <div class="row">
            <div class="col-sm-2 text-right">
                <div class="divCheckChange">
                    <check disabled="history.checkToRun" id="history.id+'_'+TAG_SERVICE_STATUS" listcheck="listChecks" label="history_previousStatus" istreeparent="false"></check>
                    <change id="history.id+'_'+TAG_SERVICE_STATUS" listdiff="listDiffProviders" label="history_previousStatus" istreeparent="false"information="information"></change>
                </div>
                <span th:text="#{history.previousStatus}"></span>
            </div>
            <div class="col-sm-10 remove-padding">
                <select ng-model="history.currentStatus" required name="currentStatus" style="width: 94%;">
                    <option ng-repeat="status in serviceStatus">{{status.label}}</option>
                </select>
                <span class="requiredIcon" tooltip="{{tRequiredInStandard}}" tooltip-placement="right">(*)</span>
            </div>
        </div>
        <!-- Current Status Starting Date -->
        <div class="row">
            <div class="col-sm-2 text-right">
                <div class="divCheckChange">
                    <check disabled="history.checkToRun" id="history.id+'_'+TAG_SERVICE_STATUS_STARTING_TIME" listcheck="listChecks" label="history_stateDate" istreeparent="false"></check>
                    <change id="history.id+'_'+TAG_SERVICE_STATUS_STARTING_TIME" listdiff="listDiffProviders" label="history_stateDate" istreeparent="false"information="information"></change>
                </div>
                <span th:text="#{history.stateDate}"></span>
            </div>
            <div class="col-sm-6 remove-padding" style="display: inline">
                <div style="display: inline">
                    <input style="height:34px!important;" ng-model="history.currentStatusStartingDate" required name="startingDate" type="text" datepicker-popup="{{format}}" is-open="opened" datepicker-options="dateOptions"
                        date-disabled="disabled(date, mode)" close-text="Close"/>
                    <button type="button" class="btn btn-default" ng-click="open($event)">
                        <i class="fa fa-calendar"></i>
                    </button>
                </div>
                <span class="requiredIcon" tooltip="{{tRequiredInStandard}}" tooltip-placement="right">(*)</span>
            </div>
        </div>
        <!-- Service Name -->
        <div class="row paddingB-10">
            <div class="col-sm-12 scheme-information">
                <check disabled="history.checkToRun" id="history.id+'_'+TAG_SERVICE_NAME" listcheck="listChecks" label="serviceProvider_serviceName" istreeparent="true"></check>
                <change id="history.id+'_'+TAG_SERVICE_NAME" listdiff="listDiffProviders" label="serviceProvider_serviceName" istreeparent="true"information="information"></change>
                <span th:text="#{serviceProvider.serviceName}"></span>
                <span class="requiredIcon" tooltip="{{tRequiredInStandard}}" tooltip-placement="right">(*)</span>
                <span ng-click="addTable(history.serviceName)" class="addIcon fa fa-plus cursor-pointer" tooltip-placement="bottom" tooltip="Add"></span>
            </div>
            <br />
            <div class="row" ng-repeat="name in history.serviceName">
                <div class="col-sm-2 text-right">
                    <check disabled="history.checkToRun" id="name.id" listcheck="listChecks" label="serviceProvider_serviceName" istreeparent="false"></check>
                    <change id="name.id" listdiff="listDiffProviders" label="serviceProvider_serviceName" istreeparent="false"information="information"></change>
                    <select ng-model="name.language" required name="name.language_{{name.id}}" style="width: 70%;">
                        <option style="text-align: right;" ng-repeat="l in languages" value="{{l.label}}" ng-selected="name.language== l.label">{{l.label}}</option>
                    </select>
                </div>
                <div class="col-sm-10 remove-padding">
                    <input ng-model="name.value" required name="name.value_{{name.id}}" style="width: 94%;" />
                    <span class="requiredIcon" tooltip="{{tRequiredInStandard}}" tooltip-placement="right">(*)</span>
                    <span ng-confirm="{{confirm_delete | replaceIn:'%OBJ%':(name.language+' '+serviceProvider_serviceName )}}" confirmed="deleteTable(history.serviceName,name)" class="trashIcon fa fa-trash cursor-pointer"
                        tooltip="{{tDelete}}" tooltip-placement="right"></span>
                </div>
            </div>
        </div>
        <!-- Extension -->
        <div class="row paddingB-10">
            <div class="col-sm-12 scheme-information">
                <check disabled="history.checkToRun" id="history.id+'_'+TAG_SERVICE_EXTENSION" listcheck="listChecks" label="serviceProvider_extension" istreeparent="true"></check>
                <change id="history.id+'_'+TAG_SERVICE_EXTENSION" listdiff="listDiffProviders" label="serviceProvider_extension" istreeparent="true"information="information"></change>
                <span th:text="#{serviceProvider.extension}" style="margin-left: 2px;"></span>
                <div class="dropdown" style="display: inline; float: right;">
                    <span class="addIcon fa fa-plus dropdown-toggle cursor-pointer" type="button" data-toggle="dropdown" tooltip-placement="right" tooltip="Add"></span>
                    <ul class="dropdown-menu pull-right">
                        <li><a ng-click="addExtension('additionnalServiceInformation')" th:text="#{extension.additionalService}" class="cursor-pointer"></a></li>
                        <li><a ng-click="addExtension('takenOverBy')" th:text="#{extension.takenOverBy}" class="cursor-pointer"></a></li>
                        <li><a ng-click="addExtension('qualificationExtension')" th:text="#{extension.qualificationExtension}" class="cursor-pointer"></a></li>
                        <li><a ng-click="addExtension('expiredCertRevocationDate')" th:text="#{extension.expiredCertRevocation}" class="cursor-pointer"></a></li>
                    </ul>
                </div>
            </div>
            <!-- Table -->
            <div class="row" ng-repeat="extension in history.extension">
                <extensiondir extension="extension" listcheck="listChecks" listchange="listdiff" edit="true" style="width:92%;display:inline-block"></extensiondir>

                <span ng-confirm="{{confirm_delete | replaceIn:'%OBJ%':labelExtension(extension)}}" confirmed="deleteTable(history.extension,extension)"
                    class="fa fa-trash cursor-pointer trashDirectiveIcon" tooltip-placement="right" tooltip="{{tDelete}}"></span>
                <span ng-click="editExtension(extension,$index)" class="editDirectiveIcon fa fa-edit cursor-pointer" tooltip="Edit" tooltip-placement="left"></span>
            </div>
        </div>
        <!-- Digital Identities -->
        <div class="row">
            <div class="col-sm-12 scheme-information">
                <check disabled="history.checkToRun" id="history.id+'_'+TAG_SERVICE_DIGITAL_IDENTITY" listcheck="listChecks" label="serviceProvider_digitalIdentities" istreeparent="true"></check>
                <change id="history.id+'_'+TAG_SERVICE_DIGITAL_IDENTITY" listdiff="listDiffProviders" label="serviceProvider_digitalIdentities" istreeparent="true"information="information"></change>
                <span th:text="#{serviceProvider.digitalIdentities}"></span>
                <span class="requiredIcon" tooltip="{{tRequiredInStandard}}" tooltip-placement="right">(*)</span>
                <span ng-if="history.digitalIdentification.length<1" ng-click="addDigitalIdentitie()" class="addIcon fa fa-plus cursor-pointer" tooltip-placement="right" tooltip="Add"></span>
            </div>
            <!-- Table -->
            <div class="row" ng-repeat="digitalId in history.digitalIdentification">
                <digitalidentity digital="digitalId" listcheck="listChecks" listchange="listDiffProviders" edit="true" checktorun="history.checkToRun" style="width:92%;display:inline-block"></digitalidentity>

                <span ng-confirm="{{confirm_delete | replaceIn:'%OBJ%':confirm_deleteDigital}}" confirmed="deleteDigitalIdentitie(digitalId)" class="fa fa-trash cursor-pointer trashDirectiveIcon"
                    tooltip-placement="right" tooltip="{{tDelete}}"></span>
                <span ng-click="editDigitalIdentitie(digitalId,$index)" class="editDirectiveIcon fa fa-edit cursor-pointer" tooltip-placement="left" tooltip="Edit"></span>
            </div>
        </div>
    </div>
</div>