<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <listener>
        <listener-class>eu.europa.ec.joinup.tsl.web.config.ContextListener</listener-class>
    </listener>
    <error-page>
        <error-code>401</error-code>
        <location>/401</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404</location>
    </error-page>
</web-app>